// Start Table Actions Tooltip
@import '../../Assets/Styles/Helpers/Helpers.Style.scss';
@import '../../Assets/Styles/Master.Style.scss';
@import '../../Assets/Styles/Theme/Theme.Style.scss';
.table-actions-wrapper {
  position: absolute;
  min-width: 100px;
  border-radius: 1rem 0 0 1rem;
  background-color: $c-gray-primary;
  @include rtl {
    border-radius: 0 1rem 1rem 0;
  }
  .btns-icon {
    margin: 0 0.25rem;
  }
  z-index: 1;
  @include d-inline-flex-center;
  padding: 0 0.25rem;
  &.theme-original {
    background-color: $c-primary;
  }
}

// End Table Actions Tooltip
// Start Table
.table-responsive {
  position: relative;
  padding: 0.5rem;
  .MuiTableContainer-root {
    max-height: calc(100vh - 168px);
    overflow-y: auto;
    border-radius: .5rem .5rem 0 0;
  }
}
.table-wrapper {
  &.MuiTable-root {
    .MuiTableCell-root {
      border-bottom: 0;
      font-family: $ff-default;
      white-space: nowrap;
      @include rtl {
        text-align: right;
      }
      &[draggable='true'] {
        cursor: move;
      }
      &.drag-over-cell {
        box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0.25rem 0.25rem 0 0;
      }
    }
    .MuiTableHead-root {
      .MuiTableRow-head {
        .MuiTableCell-head {
          background-color: $c-white;
          position: sticky;
          top: 0;
          color: $c-black-light;
          font-size: $fz-table-header;
          font-weight: $fw-simi-bold;
          z-index: 2 !important;
          width: 50px;
          &:first-child {
            border-top-left-radius: .5rem;

            @include rtl {
              border-top-right-radius: .5rem;
              border-top-left-radius: 0;
            }
          }
          &:nth-last-child(2) {
            width: auto;
          }
          &:last-child {
            border-top-right-radius: .5rem;

            @include rtl {
              border-top-right-radius: 0;
              border-top-left-radius: .5rem;
            }
          }
        }
      }
    }
    .MuiTableBody-root {
      .MuiTableRow-root {
        .MuiTableCell-body {
          height: 71px;
          background-color: $c-gray-lightest;
          color: $c-black-light;
          font-size: $fz-table-footer;
          font-weight: $fw-bold;
        }

        &:nth-child(odd) {
          .MuiTableCell-body {
            background-color: #f4f4f4 !important;
          }
        }

        &:hover,
        &.table-row-overlay {
          .MuiTableCell-body {
            background-color: #e8f0ff !important;
          }
        }
      }
    }
    .MuiTableFooter-root {
      .MuiTableRow-footer {
        .MuiTableCell-footer {
          background-color: $c-gray-lighter;
          color: $c-black-light;
          font-size: $fz-table-footer;
        }
      }
    }
    &.theme-original {
      .MuiTableHead-root {
        .MuiTableRow-head {
          .MuiTableCell-head {
            background-color: $c-primary;
            color: $c-white;
          }
        }
      }
      .MuiTableBody-root {
        .MuiTableRow-root {
          .MuiTableCell-body {
            background-color: $c-white;
            color: $c-gray-primary;
          }

          &:nth-child(even) {
            .MuiTableCell-body {
              background-color: $c-gray-lightest;
            }
          }

          &:hover,
          &.table-row-overlay {
            .MuiTableCell-body {
              background-color: $c-blue-lightest;
            }
          }
        }
      }

      .MuiTableFooter-root {
        .MuiTableRow-footer {
          .MuiTableCell-footer {
            background-color: $c-blue-lighter;
            color: $c-white;
            font-size: $fz-table-footer;
          }
        }
      }
    }
  }
}
//  Start Table Pagination (original)
.pagination-wrapper {
  background-color: $c-white;
  border-top: 2px solid $c-gray-lighter;
  color: $c-blue-lighter;
  border-radius: 0 0 .5rem .5rem;

  .MuiTypography-root {
    color: $c-blue-lighter;
  }

  .MuiTablePagination-toolbar {
    padding: 0.25rem 0.5rem;
    min-height: unset;
  }

  .select-wrapper {
    background-color: $c-gray-lightest;
    border-radius: 1rem;
    margin: 0 0.5rem;
    overflow: hidden;
    min-width: 70px;
    color: $c-primary;

    path {
      fill: $c-primary;
    }

    .MuiSelect-select {
      width: 100%;
      @include d-flex-v-center-h-between;

      @include rtl {
        padding-left: 24px;
        padding-right: 0.5rem;
      }
    }

    .MuiSelect-icon {
      @include rtl {
        right: initial;
        left: 0;
      }
    }
  }

  .btns-icon {
    &.theme-transparent {
      color: $c-primary;
    }
  }
}

.MuiTablePagination-root {
  .MuiTablePagination-actions {
    svg {
      @include rtl {
        transform: scaleX(-1);
      }
    }
  }
}
.table-cellOpation {
  width: 20px;
  &.is-with-line {
    border-left: 1.5px solid $c-gray-secondary;
    @include rtl {
      border-right: 1.5px solid $c-gray-secondary;
      border-left: none;
    }
  }
 
}
