@import 'src/Assets/Styles/Helpers/Helpers.Style.scss';
.side-menu-wrapper {
  @include d-inline-flex-column;
  min-width: 50px;
  background-color: $c-primary;
  padding: 0.5rem;
  //margin-top: 3rem;
  .btns-side-menu-item {
    @include d-inline-flex-center;
    width: 100%;
    min-height: 35px;
    margin: 0;
    color: $c-secondary;
    border-radius: 0.5rem;
    margin-bottom: 1.2rem;
    &:hover {
      color: $c-white;
      background-color:rgba(255, 255, 255, 0.25);
    }
    &.is-active {
      background-color: $c-white;
      color: $c-secondary;
    }
  }
  .btns-side-extended {
    @include d-inline-flex-center;
    color: $c-gray-dark;
    width: 100%;
    min-height: 35px;
    display: none;
    visibility: hidden;
    margin: 0 0 1rem;
    &.is-active {
      color: $c-white;
    }
    @include tablets-max {
      display: inherit;
      visibility: inherit;
    }
  }
}
