@import 'src/Assets/Styles/Helpers/Helpers.Style.scss';
.UserMenu {
  .menu-mood {
    width: 100%;
    padding: 3px;
    @include d-inline-flex;
    .btns.MuiButtonBase-root.theme-menu {
      align-items: center;
      justify-content: center;
      border-radius: 0;
      min-height: 32px;
    }
    .selectd {
      background: $c-gray !important;
      border-radius: 0.4rem !important;
      -webkit-border-radius: 0.4rem !important;
      -moz-border-radius: 0.4rem !important;
      -ms-border-radius: 0.4rem !important;
      -o-border-radius: 0.4rem !important;
}
    .btns.MuiButtonBase-root {
      border-radius: 30px;
      min-height: 10px;
      line-height: 100%;
      min-width: 32px;
      margin: 0 0.25rem;
      padding: 0.219rem 0.5rem;
    }
  }
}
