@import 'src/Assets/Styles/Helpers/Helpers.Style.scss';
.side-extended-wrapper {
  @include d-inline-flex-column;
  width: 10px;
  min-height: 100vh;
  //   overflow: hidden;
  background-color: $c-gray-lighter;
  transition: width 0.3s linear;
  .action-wrapper {
    @include d-inline-flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    position: relative;
    min-height: 50px;
    padding: 0.5rem;
    background-color: $c-gray-light;
    .title-wrapper {
      opacity: 0;
      width: 0;
      transition: width 0.3s linear, opacity 0.3s linear;
    }
    .toggler-btn {
      opacity: 1 !important;
      height: 24px;
      width: 24px;
      min-width: 24px;
      max-width: 24px;
      position: absolute;
      right: -12px;
      @include rtl {
        left: -12px;
        right: initial;
      }
    }
  }
  .side-extended-body-wrapper {
    transition: opacity 0.3s linear;
  }
  &.is-open-side-extended {
    width: 265px;
    opacity: 1;
    .action-wrapper {
      .title-wrapper {
        opacity: 1;
        width: auto;
      }
      .toggler-btn {
        position: relative;
        right: initial;
        left: initial;
      }
    }
  }
}
