@import 'src/Assets/Styles/Helpers/Helpers.Style.scss';
.FilterButtonComponent-wrapper {
  position: relative;
  .Button-root {
    .MuiButtonBase-root {
      font-weight: 900;
      background-color: $c-Basic;
      color: $c-primary;
      min-width: 7rem;
      min-height: 2rem;
      border-radius: 7px;
    }
  }
}
.Filter-menu-collapse-wrapper {
  border-radius: 0.2rem;
  background-color: $c-white;
  box-shadow: $bs-secondary;
  padding: 0 1rem;
  min-width: 7rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.TabsFilter {
  right: unset !important;
  .collapse-wrapper.is-absolute {
    position: absolute;
    right: unset !important;
    z-index: 2;
  }
  .css-1f3wfo0-MuiButtonBase-root-MuiTab-root {
    min-width: 147px;
    height: 38px;
    background-color: #d2d0d0;
  }
}
.CollapseComponentView-wraper {
  background-color: $c-white !important;
  padding: 0 2rem;
  min-width: 34rem;
  .css-4z9bxz-MuiPaper-root {
    box-shadow: none !important;
  }
  .css-1l5yae9-MuiTabs-indicator {
    background-color: inherit;
  }
}


