$c-primary: #222222;
$c-header-primary: #f4f4f4;
$c-header-button: #e2e2e2;
$c-purple: #ae00ff;
$c-primary-dark: #133c89;
$c-secondary: #3a3a3c;
$c-secondary-light: #e8f0ff;
$c-success: #31c7aa;
$c-success-light: #6ae5d3;
$c-warning: #ff827c;
$c-warning-light: #ffe2de;
$c-danger: #db504a;
$c-info: #857bff;
$c-black: #000000;
$c-black-dark: #020311;
$c-black-light: #2d3e50;
$c-white: #ffffff;
$c-white-dark: #dfe9ea;
$c-blue: #003ebc;
$c-blue-light: #65acfe;
$c-blue-lighter: #5fb7ff;
$c-blue-lightest: #b6d2ff;
$c-red: #ff0000;
$c-green-dark: #25d366;
$c-green: #31a14a;
$c-green-light: #dbf5ee;
// Start New Colors (Gray)
$c-gray-primary: #222222;
$c-gray-secondary: #c7c7cc;
$c-gray-darker: #3a3a3c;
$c-gray-dark: #8e8e93;
$c-gray: #aeaeb2;
$c-gray-light: #c7c7cc;
$c-gray-lighter: #f4f4f4;
$c-gray-lightest: #fafafa;
$c-Basic: #e2e2e2;
// End New Colors

// $c-gray-lighter: #e6e6e6;
// $c-gray-primary: #121212;
// $c-gray-secondary: #999999;
// $c-gray-dark: #4d4d4d;
// $c-gray-light: #b3b3b3;
// $c-gray-lighter: #fafafa;
// $c-gray-lightest: #f2f2f2;
$c-lavender: #e1e2fe;
$c-error: #f44336;
$bg-progress-gradient: linear-gradient(90deg, $c-warning 0%, $c-primary 45%, $c-success 100%);
$bg-progress-gradient-reversed: linear-gradient(
  -90deg,
  $c-warning 0%,
  $c-primary 45%,
  $c-success 100%
);
$bg-gradient-primary: linear-gradient(191deg, $c-primary 91%, $c-primary-dark 10%);
$bg-gradient-primary-right: linear-gradient(to right, $c-primary 0%, $c-primary-dark 100%);
$bg-gradient-primary-left: linear-gradient(to left, $c-primary 0%, $c-primary-dark 100%);
$bg-gradient-primary-top: linear-gradient(to top, $c-primary 0%, $c-primary-dark 100%);
$bg-gradient-primary-bottom: linear-gradient(to bottom, $c-primary 0%, $c-primary-dark 100%);
