// ============================================== Start Images
$img-logo: url('../../../../Assets/Images/Defaults/logo.png');
// ============================================== Start Background Images
$bg-login: url('../../../Assets/Images/Pages/Login/bg-login.jpg');
$bg-city: url('../../../Assets/Images/Pages/Login/city.svg');
$bg-city-shadow: url('../../../Assets/Images/Pages/Login/city-shadow.svg');
$bg-box-curve-right: url('../../../Assets/Images/Pages/Login/box-curve-right.svg');
$bg-box-curve-left: url('../../../Assets/Images/Pages/Login/box-curve-left.svg');
