.btns.MuiButtonBase-root {
  border-radius: 30px;
  min-height: 26px;
  line-height: 100%;
  min-width: 100px;
  margin: 0 0.25rem;
  padding: 0.219rem 0.5rem;
  text-transform: initial;
  font-size: $fz-13px;
  color: $c-primary;
  white-space: nowrap;
  .mdi {
    line-height: 14px;
  }
  &.theme-solid {
    background-color: $c-gray-darker;
    color: $c-white;

    &.bg-cancel {
      background-color: $c-gray-lighter;
      color: $c-black-dark;

      .MuiButton-label {
        color: $c-black-dark;
      }
    }
  }

  &.theme-outline {
    color: $c-gray-primary;
    border: 1px solid $c-gray-light;
  }

  &.theme-menu {
    @include d-flex-v-center-h-between;
    color: $c-gray-primary;
    width: 100%;
    border-radius: 0;
    min-height: 32px;
    padding: 0.5rem;
    margin-left: 0;
    margin-right: 0;
    &:not([disabled]) {
      &:hover {
        background-color: $c-gray-lighter;
      }
    }
  }

  &.theme-menuselectd {
    @include d-flex-v-center-h-between;
    color: $c-gray-primary;
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 0;
    min-height: 32px;
    padding: 0.5rem;
    margin-left: 0;
    margin-right: 0;
    &:not([disabled]) {
      &:hover {
        background-color: $c-gray-lighter;
      }
    }
  }

  &.theme-wide {
    min-height: 66px;
    color: $c-gray-primary;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0 0 1rem 1rem;
    position: relative;
    top: -5px;

    .texts-large {
      color: $c-black;
      font-weight: 500;
    }

    .texts-small {
      font-size: 10px;
      text-align: initial;
    }

    &:not([disabled]) {
      &:hover {
        background-color: $c-gray-lighter;
      }
    }
  }

  &.theme-transparent {
    background-color: transparent;
    color: $c-white;

    .MuiButton-label {
      color: $c-white;
    }
  }

  &:disabled {
    background-color: $c-gray-secondary !important;
    border-color: $c-gray-secondary !important;
    cursor: not-allowed;
    pointer-events: initial;
    color: $c-white !important;
  }
}

.btns-icon.MuiButtonBase-root {
  height: 32px;
  width: 32px;
  min-width: 32px;
  max-width: 32px;
  border-radius: 100%;
  color: $c-primary;
  padding: 0.2rem;
  .mdi {
    &::before {
      font-size: 24px;
    }
  }
  &.btns-small {
    width: 24px;
    height: 24px;
    min-width: 24px;
    max-width: 24px;

    .mdi {
      &:before {
        font-size: 18px;
      }
    }
  }

  &.theme-outline {
    border: 1px solid $c-primary;
    background-color: transparent;
    color: $c-primary;

    &:not([disabled]):hover {
      background-color: $c-gray-primary;
      color: $c-white !important;
      border-color: $c-white;
    }

    &.c-blue-lighter {
      border-color: $c-blue-lighter;
      color: $c-blue-lighter;

      &:not([disabled]):hover {
        background-color: $c-blue-lighter;
        color: $c-white;
        border-color: $c-white;
      }
    }
  }

  &.theme-outline-dark {
    border: 1px solid $c-gray-lighter;
    color: $c-black;
    background-color: $c-white;
  }

  &.theme-transparent {
    background-color: transparent;
    color: $c-gray-dark;

    .mdi {
      color: $c-gray-dark;
    }

    &[disabled] {
      background-color: transparent !important;
      color: $c-gray-light;
    }
  }

  &.theme-action {
    color: $c-white;
    &:not(:focus):not(:active):not(.active) {
      background-color: $c-black-light !important;
      &:hover {
        background-color: $c-primary !important;
      }
    }
  }

  &.theme-solid {
    background-color: $c-primary;
    color: $c-white;
  }

  img {
    width: 100%;
  }

  &:disabled {
    background-color: $c-gray-secondary !important;
    cursor: not-allowed;
    pointer-events: initial;
    color: $c-white !important;
    border-color: $c-gray-secondary !important;
  }
}

.btns-menu {
  height: 53px;
  width: 57.5px;
}

.btns-tag.MuiButtonBase-root {
  background-color: transparent;
  height: 100%;
  min-height: 100%;
  padding: 0;
  width: 1rem;
  min-width: 1rem;
  transform: rotateZ(-48deg);
  height: 1rem;

  .MuiButton-label {
    color: $c-primary;
  }
}

.bbt-dark {
  .MuiButtonBase-root {
    color: #ffffff;
    min-width: 2rem;
    height: 34px;
    padding-left: 9px;
    padding-right: 9px;
    background-color: #000000;
    color: $c-white;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
  }
  .mdi {
    color: rgb(255, 255, 255);
  }
  .css-10d1a0h-MuiButtonBase-root.Mui-disabled {
    cursor: not-allowed;
    color: #878787;
    .mdi {
      color: #878787;
    }
  }
}
.bbt-gray {
  .MuiButtonBase-root {
    color: #ffffff;
    min-width: 2rem;
    height: 2rem;
    padding-left: 9px;
    padding-right: 9px;
    background-color: #f5f5f5;
    color: $c-white;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
  }
  .mdi {
    color: #878787;
  }
}
.bbt-primary {
  .MuiButtonBase-root {
    color: #ffffff;
    min-width: 5rem;
    width: 11rem;
    height: 2rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    background-color: $c-blue;
    color: $c-white;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
  }
  .mdi {
    color: rgb(255, 255, 255);
  }
  .css-10d1a0h-MuiButtonBase-root.Mui-disabled {
    cursor: not-allowed;
    color: #878787;
    .mdi {
      color: #878787;
    }
  }
}
