.view-wrapper {
  width: 100%;

  .header-section {
    @include d-flex-column;
    background-color: $c-white;

    .filter-section {
      @include d-flex;
      @include flex-v-center-h-between;
      position: relative;
      width: 100%;

      @include tablets-max {
        flex-direction: column;
      }

      .section {
        @include d-inline-flex;
        @include flex-center;
        // @include flex-v-center;
        margin-bottom: 1rem;

        &:first-child {
          justify-content: flex-start;
        }
        &:nth-child(2) {
          min-width: 50%;
        }
        &.autocomplete-section {
          padding: 0 0.5rem;
          align-items: flex-start;
          @include phones-max {
            align-items: center;
          }
        }
        .btns-icon {
          width: 30px;
          height: 30px;
          min-width: 30px;
        }
        @include tablets-max {
          width: 100%;

          &:first-child {
            order: 2;

            .actions-buttons-wrapper {
              @include flex-h-center;
            }
          }

          &:nth-child(2) {
            @include phones-max {
              flex-direction: column;

              .d-flex-column {
                margin-bottom: 1rem;
              }
            }

            order: 1;
          }
        }
      }
    }

    .contacts-hidder-section {
      display: flex;
      margin-bottom: 0.5rem;
      padding: 0.5rem;
      align-items: center;
    }
  }

  .body-section {
    @include d-flex;
    @include flex-h-center;
    flex-wrap: wrap;
    padding: 0 0.5rem;
    margin-bottom: 1rem;
  }
}
.filter-type-btn {
  position: absolute !important;
  right: 3.5rem;
  margin: 0;
  @include rtl {
    left: 3.5rem;
    right: initial;
  }
  border-radius: 0rem !important;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
}
.cards-filter-section {
  @include d-flex-v-center;
  flex-wrap: wrap;
}
.tag-curve-wrapper {
  position: absolute;
  top: 0;
  right: -1px;
  @include rtl {
    left: -1px;
    right: initial;
    transform: scaleX(-1);
  }
  // background-color: $c-white;
}
.card-tooltip {
  @include d-inline-flex;
  background-color: $c-secondary;
  color: $c-white;
  padding: 0.25rem 0.5rem;
  font-weight: $fw-simi-bold;
  margin: 0 0.5rem;
  border-radius: 1rem;
}
.card-checkbox-wrapper {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  z-index: 1;

  &.trl-15px {
    top: 15px;
    right: 15px;
  }

  @include rtl {
    right: initial;
    left: 1rem;

    &.trl-15px {
      left: 15px;
    }
  }
}
// Start Separators
.separator-h {
  position: relative;
  min-height: 1px;
  width: 100%;

  &:after {
    position: absolute;
    left: 0;
    top: 0;
    content: ' ';
    width: 100%;
    height: 1px;
    background-color: $c-gray-lighter;
  }

  &.s-gray-primary {
    &:after {
      background-color: $c-gray-primary;
    }
  }
  &.s-gray-light {
    &:after {
      background-color: $c-gray-light;
    }
  }
  &.s-gray-lightest {
    &:after {
      background-color: $c-gray-lightest;
    }
  }
}

.separator-v {
  position: relative;
  height: 100%;
  min-width: 1px;

  &.p-25px {
    height: calc(100% + 25px);
  }

  &:after {
    position: absolute;
    left: 0;
    top: 0;
    content: ' ';
    width: 1px;
    height: 100%;
    background-color: $c-gray-lighter;

    @include rtl {
      left: initial;
      right: 0;
    }
  }

  &.s-gray-primary {
    &:after {
      background-color: $c-gray-primary;
    }
  }
  &.s-gray-dark {
    &:after {
      background-color: $c-gray-dark;
    }
  }

  &.s-primary {
    &:after {
      background-color: $c-primary;
    }
  }

  &.s-reverse {
    &:after {
      right: 0;
      left: initial;

      @include rtl {
        left: 0;
        right: initial;
      }
    }
  }

  &.s-h-25px {
    min-height: 25px;
  }
}

// End Separators
.presentational-wrapper {
  position: relative;
}
.popover-quick-add {
  z-index: 9999 !important;
}
