@import 'src/Assets/Styles/Helpers/Helpers.Style.scss';
.DataView-view-wrapper {
  position: relative;
  .item-wraper {
    display: inline-flex;
    justify-content: flex-start;
    width: 100%;
    text-transform: capitalize;
  }
  .view-menu-collapse-wrapper {
    border-radius: 0.5rem;
    background-color: $c-white;
    box-shadow: $bs-secondary;
    min-height: 0px;
    top: 41px !important;
    height: auto;
    transition-duration: 300ms;
    min-width: 139px !important;
    z-index: 3;
    .MuiButtonBase-root {
      height: 34px;
      background-color: $c-white !important;
      color: $c-black;
      border-radius: 7px;
      height: 34px;
      font-weight: 500;
      font-size: 13px;
      width: 145px;
      justify-content: space-evenly;
    }
    .MuiButtonBase-root:hover {
      background-color: #f4f4f4 !important;
    }
  }

  .button-wrapper-DataView {
    .button-STYLE {
      .MuiButtonBase-root {
        height: 34px;
        background-color: #e2e2e2 !important;
        color: $c-black;
        border-radius: 7px;
        height: 34px;
        width: 145px;
        justify-content: space-evenly;
        font-weight: 800;
      }

      // color: #222222;
      // width: 7rem;
      // height: 2rem;
      .chip {
        margin-left: -0.5rem;
        margin-right: 0.5rem;
        @include rtl {
          margin-left: 0.5rem;
          margin-right: -0.5rem;
        }
      }
      .arrow {
        margin-left: -0.5rem;
        @include rtl {
          margin-left: 0rem;
          margin-right: -0.5rem;
        }
      }
    }
  }
}
