@import 'src/Assets/Styles/Helpers/Helpers.Style.scss';
.container-wrapper {
  @include d-flex;
  width: 100%;
  padding-top: 52.8px;
  .home-views-wrapper {
    @include d-inline-flex;
    width: 100%;
  }
}
