.Sorterletters {
  .MenuItemSort {
    z-index: 2;
  }
  .ButtonGroup-Sorterletters {
    box-shadow: 0px !important;
  }

  .MenuItemSort {
    flex-wrap: wrap;
    text-transform: uppercase;
    display: flex;
    max-width: 303px;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
  }

  .css-1t4i7pk-MuiButtonBase-root-MuiButton-root {
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 16px;
    border-radius: 4px;
    box-shadow: 0px !important;
    height: 2rem;
  }
  .css-1o11vxz-MuiButtonGroup-root .MuiButtonGroup-grouped:not(:last-of-type) {
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 16px;
    border-radius: 4px;
    box-shadow: 0px !important;
    color: #000000;
    background-color: #e2e2e2;
  }

  .css-1o11vxz-MuiButtonGroup-root .MuiButtonGroup-grouped:not(:last-of-type) {
    color: #65acfe;
    background-color: #e2e2e2;
    border-right: 5px solid #bdbdbd;
    border-color: #222222;
    font-weight: 900;
    box-shadow: 0px !important;
    height: 2rem;
  }
  .css-1o11vxz-MuiButtonGroup-root .MuiButtonGroup-grouped:not(:first-of-type) {
    color: #000000;

    height: 2rem;
    box-shadow: 0px !important;
    background-color: #e2e2e2;
  }
  .filter-icon
  {
   color: #222222;
  }
  .filter-icon-defult
  {
    color: #65acfe;;
  }
}
