@import 'src/Assets/Styles/Helpers/Helpers.Style.scss';
.menu-popover-item-btn-wrapper {
  padding: 4px 15px !important;
  font-size: 12px;
}
.popoverClassesheaderMenuPopover {
  .css-3bmhjh-MuiPaper-root-MuiPopover-paper {
    top: 52px !important;
    max-height: calc(100% - 179px);
    ///////////////////////////////////////////////////////////
    unicode-bidi: bidi-override;
    direction: rtl;
    overflow: auto;
    overflow-x: hidden !important;
    @include rtl {
      direction: ltr;
    }
    ///////////////////////////////////////////////////////////
  }
}
.title {
  color: #515151;
  text-transform: UPPERCASE;
  padding: 4px 15px;
  margin-top: 15px;
  font-size: 12px;
  display: block;
}

.header-menu-popover-conteaner {
  display: inline;
  ///////////////////////////////////////////////////////////
  direction: ltr;
  @include rtl {
    direction: rtl;
  }
  ///////////////////////////////////////////////////////////
  .css-10d1a0h-MuiButtonBase-root {
    justify-content: normal !important;
    &.is-active {
      background-color: $c-primary;
      color: $c-white;
      font-weight: bolder;
    }
  }
}

.header-wrapper {
  @include d-flex-v-center-h-between;
  width: 100%;
  position: fixed;
  top: 0;
  min-height: 3.3rem;
  background-color: $c-black;
  color: $c-white;
  z-index: 10;
  .section {
    padding: 0.5rem;
    height: 3.3rem;
    @include d-inline-flex-v-center;
  }
  .header-logo-wrapper {
    width: 15rem;
    min-width: 130px;
    justify-content: center;
    .img-logo {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      max-height: 100%;
      max-width: 100%;
    }
  }

  .middle-section-wrapper {
    background-color: $c-primary;
    width: 100%;
    justify-content: space-between;
    position: relative;
    .header-menu-wrapper {
      @include d-flex-center;
      width: 100%;
      .header-menu-btn {
        &:hover {
          background-color: rgba($c-white, 0.25);
        }
        &.is-active {
          background-color: $c-white;
          color: $c-gray-primary;
        }
      }
      @include laptops-max {
        display: none;
      }
    }
    .header-menu-open-btn {
      display: none;
      margin: 0 0.5rem;
      @include laptops-max {
        @include d-inline-flex;
      }
    }
    .header-search-wrapper {
      position: absolute;
      right: 0;
      color: white;
      background-color: #3b3b3b;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      cursor: pointer;
      border-radius: 8px;
      @include rtl {
        right: initial;
        left: 0;
      }
    }
  }
  .last-section-wrapper {
    .header-actions-wrapper {
      @include d-flex;
      margin-right: -0.5rem;
      @include laptops-l-max {
        display: none;
      }
      @include rtl {
        margin-right: 0;
        margin-left: -0.5rem;
      }
      .header-action-item-wrapper {
        position: relative;
        @include d-flex-center;
        .MuiBadge-badge {
          background-color: $c-red;
        }
        color: white;
        background-color: #3a3a3a;
        margin-right: 10px;
        font-size: 12px;
        cursor: pointer;
        border-radius: 8px;
        .MuiButtonBase-root {
          width: 2rem;
          height: 2rem;
        }
      }
    }
    .btns-header-actions {
      display: none;
      @include laptops-l-max {
        @include d-inline-flex;
      }
      &.is-active {
        color: $c-white;
      }
    }
    .TaskMenu-menu-collapse-wrapper {
      border-radius: 0.5rem;
      background-color: $c-white;
      box-shadow: $bs-secondary;
      min-width: 432px;
      width: 34rem;
    }
    .user-menu-collapse-wrapper {
      border-radius: 0.5rem;
      background-color: $c-white;
      box-shadow: $bs-secondary;
      padding: 0 1rem;
      min-width: 265px;
    }
    .status-menu-collapse-wrapper {
      border-radius: 0.5rem;
      background-color: $c-white;
      box-shadow: $bs-secondary;
      padding: 0 1rem;
      min-width: 200px;
    }
    .calendar-menu-collapse-wrapper {
      border-radius: 0.5rem;
      background-color: $c-white;
      box-shadow: $bs-secondary;
      padding: 0 1rem;
      max-width: 500px;
      min-width: 444px;
    }

    .notifications-menu-collapse-wrapper {
      border-radius: 0.5rem;
      background-color: $c-white;
      box-shadow: $bs-secondary;
      max-width: 444px;
      padding: 0 1rem;
      min-width: 200px;
    }
    .user-button-wrapper {
      @include phones-max {
        margin: 0rem;
      }
      padding-right: 1rem;
      padding-left: 1rem;
      @include rtl {
        padding-right: 1rem;
        padding-left: 1rem;
      }
      min-width: initial;
      .user-image {
        min-width: 35px;
        height: 38px;
        width: 38px;
        padding: 2px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }
      .user-name-wrapper {
        @include d-inline-flex;
        @include phones-s-max {
          display: none !important;
        }
        .mdi:before {
          background-color: #343434;
          color: $c-gray-light;
          border-radius: 50%;
          margin-top: -0.1rem;
        }
        color: $c-gray-light;
        margin: 0 0.5rem;
        .user-name-text {
          display: inline-block;
          @include texts-truncate;
          max-width: 6rem;
          @include phones-max {
            max-width: 80px !important;
          }
        }
      }

      display: inline-flex;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      position: relative;
      box-sizing: border-box;
    }
  }

  .logo-text {
    font-size: $fz-10px;
    font-weight: bold;
    margin-bottom: 0.25rem;
    color: $c-green;
  }

  .logo-text-small {
    font-size: $fz-9px;
    color: $c-blue-light;

    .text-small {
      font-variant: small-caps;
    }
  }

  .logo-text,
  .logo-text-small {
    font-family: AcuminConcept, serif;
    text-transform: uppercase;
    white-space: nowrap;
  }
  .i-text-gray {
    margin-right: 0.5rem;
    margin-left: 1rem;
  }

  .user-img {
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
    border-radius: 100%;
  }

  .user-btn {
    position: absolute;
    right: 0.25rem;
    bottom: 0.25rem;
    transform: translate(50%, -50%);
  }

  .btns-active {
    &.mdi,
    .mdi {
      color: $c-secondary;
    }

    &.icons,
    .icons {
      filter: invert(101%) sepia(98%) saturate(545%) hue-rotate(344deg) brightness(98.5%)
        contrast(95%);
    }
    &img,
    img {
      border: 2px solid #c7c7cc;
      border-radius: 100%;
    }
  }
}
.header-actions-popover-wrapper {
  .MuiPaper-root {
    border-radius: 0.5rem;
    margin-top: 0.75rem;
    min-width: 0;
    .header-actions-wrapper {
      @include d-flex-column-center;
      padding: 1rem 1rem 0.25rem;
      .header-action-item-wrapper {
        position: relative;
        @include d-flex;
        .MuiBadge-badge {
          background-color: $c-red;
        }
        color: $c-white;
        background-color: #3a3a3a;
        margin-bottom: 0.75rem;
        border-radius: 0.5rem;
        font-size: 12px;
        cursor: pointer;
        .MuiButtonBase-root {
          width: 100%;
          height: 2rem;
          min-width: 2rem;
        }
      }
    }
  }
}
.header-menu-popover-wrapper {
  margin-top: 6px;
  margin-bottom: 7px;
  .MuiPaper-root {
    border-radius: 0.5rem;
    margin-top: 0.75rem;
    .header-menu-wrapper {
      @include d-flex-column;
      .header-menu-btn {
        @include d-flex;
        margin: 0;
        position: relative;
        background-color: $c-primary;
        border-radius: 0;
        min-height: 32px;
        &::after {
          content: ' ';
          position: absolute;
          bottom: 0;
          z-index: 1;
          width: 100%;
          height: 1px;
          min-height: 1px;
          background-color: $c-gray-light;
        }
      }
    }
  }
}
.square-Online {
  color: rgb(75, 214, 75);
}
.square-Away {
  color: rgb(211, 198, 13);
}
.square-disturb {
  color: rgb(214, 75, 75);
}
.square-invisible {
  color: rgb(209, 216, 209);
}

.create-states {
  color: #878787;
  font-size: 12px;
  text-decoration: underline;
  padding-top: 8px;
  padding-bottom: 8px;
  text-transform: capitalize;
  font-weight: 700;
}
.main-title-staus {
  font-size: 15px;
  color: black;
  padding: 8px;
  font-weight: bold;
}
.card-content-NotificationsMenuComponent {
  .card-wraper {
  }
  .status {
    color: #54d811;
    padding-top: 6px;
  }
  .Notification-wraper {
    display: inline-flex;
    padding: 17px;
    width: 100%;
  }

  .img-Notification-user {
    height: 50px;
    width: 50px;
    border-radius: 10px;
  }
  .Notification-from {
    .Notification-user {
      color: #0095ff;
      font-size: 16px;
      font-weight: 700;
      width: 50%;
    }
    .Notification-time {
      color: #797979;
      font-size: 11px;
    }
    .Notification-msg {
      color: #797979;
      font-size: 11px;
      display: flex;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 9rem;
      margin-top: 6px;
    }

    display: grid;
    min-width: 246px;
    margin-left: 17px;
    @include rtl {
      margin-left: 0px;
      margin-right: 17px;
    }
    .all-Notification {
      color: #878787;
      font-size: 12px;
      text-decoration: underline;
      padding-top: 8px;
      padding-bottom: 8px;
      text-transform: capitalize;
      font-weight: 700;
    }
  }
}
.card-content-MessagesMenuComponent {
  .card-wraper {
  }
  .status {
    color: #54d811;
    padding-top: 6px;
  }
  .Notification-wraper {
    display: inline-flex;
    padding: 17px;
    width: 100%;
  }

  .img-Notification-user {
    height: 50px;
    width: 50px;
    border-radius: 10px;
  }
  .Notification-from {
    .Notification-user {
      color: #0095ff;
      font-size: 16px;
      font-weight: 700;
      width: 250px;
    }
    .Notification-time {
      color: #797979;
      font-size: 11px;
    }
    .Notification-msg {
      color: #797979;
      font-size: 11px;
      display: flex;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 9rem;
      margin-top: 6px;
    }

    display: grid;
    min-width: 246px;
    margin-left: 17px;
    @include rtl {
      margin-left: 0px;
      margin-right: 17px;
    }
    .all-Notification {
      color: #878787;
      font-size: 12px;
      text-decoration: underline;
      padding-top: 8px;
      padding-bottom: 8px;
      text-transform: capitalize;
      font-weight: 700;
    }
  }
}
.card-content-CalendarmMenuComponent {
  .card-content-Calendar {
  }

  .CalendarmMenu-wraper {
    @include d-inline-flex;
    color: black;
    width: 100%;
    padding: 18px 10px 18px 10px;
    .main-title {
      color: #0095ff;
      font-size: 16px;
      font-weight: 700;
    }

    .sub-title {
      color: #797979;
      font-size: 11px;
    }
    .description {
      width: 82%;
    }
    .time {
      font-size: 16px;
      font-weight: 600;
      width: 100%;
      justify-content: center;
      display: flex;
    }
    .date {
      font-size: 10px;
      font-weight: 100;
      width: 100%;
      justify-content: center;
      display: flex;
    }
    .CalendarmMenu-bbt {
      padding: 1rem;
    }
  }
}
.card-content-TaskMenuComponent {
  .card-content-Calendar {
  }

  .TaskMenu-wraper {
    @include d-inline-flex;
    color: black;
    width: 100%;
    padding: 18px 10px 18px 10px;
    .main-title {
      @include d-inline-flex;
      justify-content: space-between;
      width: 100%;

      .task-titel {
        color: #0095ff;
        font-size: 16px;
        font-weight: 700;
      }
      .title-type {
        border-radius: 23px;
        @include d-inline-flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
      }
    }
    .task-number {
      display: flex;
      padding: 7px 21px 8px 8px;
      justify-content: center;
      align-items: center;
    }

    .sub-title {
      color: #797979;
      font-size: 11px;
      margin-top: 7px;
    }
    .description {
      width: 100%;
    }
    .time {
      font-size: 16px;
      font-weight: 600;
      width: 100%;
      justify-content: center;
      display: flex;
    }
    .date {
      font-size: 10px;
      font-weight: 100;
      width: 100%;
      justify-content: center;
      display: flex;
    }
    .CalendarmMenu-bbt {
      padding: 1rem;
    }
    .time-description {
      margin-top: 7px;
      @include d-inline-flex;
      @include flex-h-between;
      width: 100%;
      color: #797979;
      font-size: 11px;
    }
    .loder-line {
      margin-top: 7px;
      width: 100%;
      height: 5px;
      background-color: #c5c5d0;
      .line-procces {
        height: 4px;
        background-color: #0095ff;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
      }
    }
  }
}
