@import 'src/Assets/Styles/Helpers/Helpers.Style.scss';
.menu-popover-item-btn-wrapper {
  padding: 4px 15px !important;
  font-size: 12px;

}

 .title{
  color: #515151;
  text-transform: UPPERCASE;
  padding: 4px 15px;
  margin-top: 15px;
  font-size: 12px;
  display: block;
}


.header-menu-popover-conteaner {
  display: inline;
  .css-10d1a0h-MuiButtonBase-root
  {
    justify-content: normal !important;
  }
  

}





.header-wrapper {







  
  @include d-flex-v-center-h-between;
  width: 100%;
  position: fixed;
  top: 0;
  min-height: 3.3rem;
  background-color: $c-black;
  color: $c-white;
  z-index: 10;
  .section {
    padding: 0.5rem;
    height: 3.3rem;
    @include d-inline-flex-v-center;
  }
  .header-logo-wrapper {
    width: 15rem;
    min-width: 130px;
    justify-content: center;
    .img-logo {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      max-height: 100%;
      max-width: 100%;
    }
  }

  .middle-section-wrapper {
    background-color: $c-primary;
    width: 100%;
    justify-content: space-between;
    position: relative;
    .header-menu-wrapper {

      @include d-flex-center;
      width: 100%;
      @include laptops-max {
        display: none;
      }
    }
    .header-menu-open-btn {
      display: none;
      margin: 0 0.5rem;
      @include laptops-max {
        @include d-inline-flex;
      }
    }
    .header-search-wrapper {
      position: absolute;
      right: 0;
      color: white;
      background-color: #3b3b3b;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      cursor: pointer;
      border-radius: 8px;
      @include rtl {
        right: initial;
        left: 0;
      }
    }
  }
  .last-section-wrapper {
    .header-actions-wrapper {
      @include d-flex;
      margin-right: -0.5rem;
      @include laptops-l-max {
        display: none;
      }
      @include rtl {
        margin-right: 0;
        margin-left: -0.5rem;
      }
      .header-action-item-wrapper {
        @include d-flex-center;
        .MuiBadge-badge {
          background-color: $c-red;
        }
        color: white;
        background-color: #3a3a3a;
        margin-right: 10px;
        font-size: 12px;
        cursor: pointer;
        border-radius: 8px;
        .MuiButtonBase-root {
          width: 2rem;
          height: 2rem;
        }
      }
    }
    .btns-header-actions {
      display: none;
      @include laptops-l-max {
        @include d-inline-flex;
      }
      &.is-active {
        color: $c-white;
      }
    }
    .user-menu-collapse-wrapper {
      border-radius: 0.5rem;
      background-color: $c-white;
      box-shadow: $bs-secondary;
      padding: 1rem 0;
    }
    .user-button-wrapper {
      @include phones-max {
        margin: 0rem;
      }
      padding-right: 1rem;
      @include rtl {
        padding-right: 0;
        padding-left: 1rem;
      }
      min-width: initial;
      .user-image {
        min-width: 35px;
        height: 38px;
        width: 38px;
        border-radius: 5px;
        border: 3px solid $c-green;
      }
      .user-name-wrapper {
        @include d-inline-flex;
        @include phones-s-max {
          display: none !important;
        }
        .mdi:before {
          background-color: #343434;
          color: $c-gray-light;
          border-radius: 50%;
          margin-top: -0.1rem;
        }
        color: $c-gray-light;
        margin: 0 0.5rem;
        .user-name-text {
          display: inline-block;
          @include texts-truncate;
          max-width: 6rem;
          @include phones-max {
            max-width: 80px !important;
          }
        }
      }
    }
  }

  .logo-text {
    font-size: $fz-10px;
    font-weight: bold;
    margin-bottom: 0.25rem;
    color: $c-green;
  }

  .logo-text-small {
    font-size: $fz-9px;
    color: $c-blue-light;

    .text-small {
      font-variant: small-caps;
    }
  }

  .logo-text,
  .logo-text-small {
    font-family: AcuminConcept, serif;
    text-transform: uppercase;
    white-space: nowrap;
  }
  .i-text-gray {
    margin-right: 0.5rem;
    margin-left: 1rem;
  }

  .user-img {
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
    border-radius: 100%;
  }

  .user-btn {
    position: absolute;
    right: 0.25rem;
    bottom: 0.25rem;
    transform: translate(50%, -50%);
  }

  .btns-active {
    &.mdi,
    .mdi {
      color: $c-secondary;
    }

    &.icons,
    .icons {
      filter: invert(101%) sepia(98%) saturate(545%) hue-rotate(344deg) brightness(98.5%)
        contrast(95%);
    }
    &img,
    img {
      border: 2px solid #c7c7cc;
      border-radius: 100%;
    }
  }
}
.header-actions-popover-wrapper {
  .MuiPaper-root {
    border-radius: 0.5rem;
    margin-top: 0.75rem;
    min-width: 0;
    .header-actions-wrapper {
      @include d-flex-column-center;
      padding: 1rem 1rem 0.25rem;
      .header-action-item-wrapper {
        @include d-flex;
        .MuiBadge-badge {
          background-color: $c-red;
        }
        color: $c-white;
        background-color: #3a3a3a;
        margin-bottom: 0.75rem;
        border-radius: 0.5rem;
        font-size: 12px;
        cursor: pointer;
        .MuiButtonBase-root {
          width: 100%;
          height: 2rem;
          min-width: 2rem;
        }
      }
    }
  }
}
.header-menu-popover-wrapper {
  margin-top: 6px;
  margin-bottom: 7px;
  .MuiPaper-root {
    border-radius: 0.5rem;
    margin-top: 0.75rem;
    .header-menu-wrapper {
      @include d-flex-column;
      .header-menu-btn {
        @include d-flex;
        margin: 0;
        position: relative;
        background-color: $c-primary;
        border-radius: 0;
        min-height: 32px;
        &::after {
          content: ' ';
          position: absolute;
          bottom: 0;
          z-index: 1;
          width: 100%;
          height: 1px;
          min-height: 1px;
          background-color: $c-gray-light;
        }
      }
    }
  }
}
